.d1{
    outline: 1px black;
    padding: 30px;
    margin-left: 10px;
    }

    body {
    background-image: url('https://art.pixilart.com/01b6ab59bb6dd46.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

    a {
        color: rgb(17, 0, 73);
        text-decoration: none;
        cursor: pointer;
        transition: color 0.3s ease;
    }

    a:hover {
        color: darkolivegreen;
    }