.d1 {
    background-color: rgb(255, 255, 255);
    outline: 1px solid #000;
    padding: 20px;
    margin-left: 10px;
    float: left;
    font-family: 'Courier New';
    }

    body {
    background-image: url('https://cdn.openart.ai/stable_diffusion/35e06d685907aca05f94b4aca9fc52a7063051b2_2000x2000.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

    button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    }

    button:hover {
    transform: scale(1.1);
    }

    button img {
    transition: transform 0.3s ease-in-out;
    }

    button:hover img {
    transform: scale(1.1);
    }